.nav {
    display: grid;
    justify-content: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: darkgray;
    color: white;
    z-index: 10;
}

.card {
    margin-left: 40%;
    margin-top: 2%;

}

.projects-section {
    margin: 2%;
    font-family: cursive;
    
}